

.logo {
  color: rgb(255, 255, 255);
}

.menu {
  color: white;
}

.navbar {
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 2px 3px 7px grey;
  background: linear-gradient(45deg ,rgba(73, 0, 141, 0.886) , rgb(183, 0, 255));
}

